 .fds-editor {
    background-color:$color-white ;
    border:1px solid $form-outline-color;
    min-height: 150px;
    overflow: auto;
    padding: 1em;
    margin-top: 0px;
    resize: vertical;
    outline: none;
  }
  
  .fds-toolbar {
    background-color:$color-white;
    border-width:1px 1px 0;
  border-style: solid;
  border-color: $form-outline-color;
  }
  
  .fds-toolbar a,
  .fore-wrapper,
  .back-wrapper {
    border-radius: 0px;
    color: black;
    padding: 3px 5px 0;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
  }
  
  .fds-toolbar a:hover, .fore-wrapper:hover, .back-wrapper:hover {
    background: $color-fds-tertiary-100;
    border-color: $form-outline-color;
  }
  /*
  a[data-command='redo'],a[data-command='strikeThrough'],a[data-command='justifyFull'],a[data-command='insertOrderedList'],a[data-command='outdent'],a[data-command='p'],a[data-command='superscript']{
    margin-right:5px;
    border-radius:0 3px 3px 0;
  }
  
  a[data-command='undo'],.fore-wrapper,a[data-command='justifyLeft'],a[data-command='insertUnorderedList'],a[data-command='indent'],a[data-command='h1'],a[data-command='subscript']{
    border-radius:3px 0 0 3px;
  }*/
  
  a.palette-item {
    height: 1em;
    margin: 2px 1px;
    width: 1em;
  }
  
  .fore-palette,
  .back-palette {
    display: none;
  }
  
  .fore-wrapper,
  .back-wrapper {
    display: inline-block;
    cursor: pointer;
  }
  
  .fore-wrapper:hover .fore-palette,
  .back-wrapper:hover .back-palette {
    display: block;
    float: left;
    position: absolute;
    padding: 3px;
    width: 10em;
    background: $color-white;
    border: 1px solid $form-outline-color;
    box-shadow: 0 0 5px #CCC;
    height: 4.4em;
  }
  
  .fore-wrapper:hover .fore-palette {
    left: 5%;
    top: 42px;
  }
  
  .back-wrapper:hover .back-palette {
    left: 5%;
    top: 42px;
  }
  
  .fore-palette a,
  .back-palette a {
    background: $color-white;
    margin-bottom: 2px;
  }